<div class="sub_navbar">
  <div class="container">
    <div class="section-nav">
        <div class="left-nav">
          <button type="button" class="section-nav" data-toggle="modal" data-target="#eventModal">Create a event</button></a>
          <button type="button" class="section-nav" data-toggle="modal" data-target="#activityModal">Create a new activity</button>
          <button type="button" class="section-nav" data-toggle="modal" data-target="">Create a battle for Event</button>
        </div>
        <div class="right-nav">
          <a href="">#250 Biscarosse v</a>
        </div>
    </div>
  </div>
</div>


<h1>Les évènements du batch <%= current_user.batch.number %></h1>

<%# @timeline_schedule.each do |schedule| %>
  <!-- <hr> -->
    <%#= schedule.date.strftime("%D") %> <!-- - --> <%#= schedule.title %>
<%# end %>


<div class="container">
  <div class="row">


    <!-- Button trigger modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#activityModal">
      Create a new activity
    </button>

    <!-- Modal -->
    <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="activityModalLabel">Create my activity</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for @activity do |f| %>
              <%= f.input :name %>
              <%= f.input :link %>
              <%= f.input :address %>
              <%= f.input :city %>
              <%= f.input :country %>
              <%= f.input :target, collection: Activity.targets %>
              <%= f.button :submit %>
            <% end %>





          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for @event do |f| %>
          <%= f.input :title %>
          <%= f.input :content %>
          <%= f.input :date %>
          <%= f.input :link %>
          <%= f.input :address %>
          <%= f.input :city %>
          <%= f.input :country %>
          <%= f.button :submit %>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#battleModal">
  Create a battle
</button>

<!-- Modal -->
<div class="modal fade" id="battleModal" tabindex="-1" role="dialog" aria-labelledby="battleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="battleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <h1>New Battle</h1>
        <%= simple_form_for @battle do |f| %>
          <%= f.input :date %>
          <%= f.input :deadline %>

          <%= f.simple_fields_for :choices, Choice.new do |choice| %>
            <%= choice.input :activity_id, collection: Activity.all.map{|activity| [activity.name, activity.id]} %>
          <% end %>

          <%= f.simple_fields_for :choices, Choice.new do |choice| %>
            <%= choice.input :activity_id, collection: Activity.all.map{|activity| [activity.name, activity.id]} %>
          <% end %>

          <%= f.submit 'Create Project' %>
        <% end %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <ul class="timeline">
    <%  @timeline_schedule.each do |schedule| %>
      <li>
        <% if schedule.is_a?(Event) %>
          <div class="direction-r">
        <% else %>
          <div class="direction-l">
        <% end %>

          <div class="flag-wrapper">
            <span class="flag" data-toggle="modal" data-target="#battleModal">
              <%= schedule.date.strftime('%d/%m/%Y') %>
            </span>
            <span class="time-wrapper"><span class="time">
              <%= schedule.is_a?(Event) ? "Talk" : "Battle" %>
            </span></span>
          </div>
          <div class="desc"><%= schedule.title %></div>
          <% if schedule.is_a?(Battle) && schedule.choices.present? %>

              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= schedule.choices.first.activity.photo.url %>')">
                <%= schedule.choices.first.activity.name %>
              </div>

              <div class="card-category mt-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= schedule.choices.last.activity.photo.url %>')">
                <%= schedule.choices.last.activity.name %>
              </div>

          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="modal fade" id="battleModal" tabindex="-1" role="dialog" aria-labelledby="battleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="activityModalLabel">See the Battle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


            Hello





          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>


</div>

