<div class="sub_navbar">
  <div class="container">
    <div class="section-nav">
        <div class="left-nav">
          <button type="button" class="section-nav" data-toggle="modal" data-target="#eventModal">Create a event</button></a>
          <button type="button" class="section-nav" data-toggle="modal" data-target="#activityModal">Create a new activity</button>
          <button type="button" class="section-nav" data-toggle="modal" data-target="#battleModal">Create a battle</button>
        </div>
        <div class="right-nav">
          <a href="">Batch <%= current_user.batch.number %></a>
        </div>
    </div>
  </div>
</div>


<div class="small-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "banner.jpg" %>)">
  <i class="fas fa-quote-left"></i>&nbsp;&nbsp;Ha&nbsp;&nbsp;<i class="fas fa-quote-right"></i>
</div>

<div class="container">
<div class="title-page mt-5 mb-5">
  <h1 class="title-dashboard">Les évènements du<br>batch <span class="red"><%= current_user.batch.number %></span></h1>
</div>
<%# @timeline_schedule.each do |schedule| %>
  <!-- <hr> -->
    <%#= schedule.date.strftime("%D") %> <!-- - --> <%#= schedule.title %>
<%# end %>
<div class="container">
  <div class="row">
    <!-- Modal -->
    <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <%= simple_form_for @activity do |f| %>
            <div class="modal-header">
              <h5 class="modal-title" id="activityModalLabel">Create my activity</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <%#= image_tag "fouss.png", class: "w-100" %>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <%= f.input :name %>
                    <%= f.input :link %>
                    <%= f.input :target, collection: Activity.targets %>
                  </div>
                  <div class="col-md-6">
                    <%= f.input :address %>
                    <%= f.input :city %>
                    <%= f.input :country %>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.button :submit, class: "btn btn-success" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for @event do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">Create a Event</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <%= f.input :title %>
                  <%= f.input :content %>
                  <%= f.input :link %>
                </div>
                <div class="col-6">
                  <%= f.input :address %>
                  <%= f.input :city %>
                  <%= f.input :country %>
                </div>
              </div>
              <%= f.input :date %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="battleModal" tabindex="-1" role="dialog" aria-labelledby="battleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for @battle do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="battleModalLabel">Create a battle</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <%= f.simple_fields_for :choices, Choice.new do |choice| %>
                  <%= choice.input :activity_id, collection: Activity.all.map{|activity| [activity.name, activity.id]} %>
                <% end %>
              </div>
              <div class="col-6">
                <%= f.simple_fields_for :choices, Choice.new do |choice| %>
                  <%= choice.input :activity_id, collection: Activity.all.map{|activity| [activity.name, activity.id]} %>
                <% end %>
              </div>
              <%= f.input :date %>
              <%= f.input :deadline %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.button :submit, class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container">
  <ul class="timeline">
    <%  @timeline_schedule.each_with_index do |schedule, index| %>
      <li>
        <%# if schedule.is_a?(Event) %>
        <% if index.odd? %>
          <div class="direction-r">
        <% else %>
          <div class="direction-l">
        <% end %>

          <div class="flag-wrapper">
            <span class="flag">
              <%= schedule.date.strftime('%d/%m/%Y') %>
            </span>
            <span class="time-wrapper"><span class="time">
              <%= schedule.is_a?(Event) ? "Talk" : "Battle" %>
            </span></span>
          </div>
          <div class="desc"><%= schedule.title %></div>
          <% if schedule.is_a?(Battle) && schedule.choices.present? %>

              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= schedule.choices.first.activity.photo.url %>')">
                <div class="text-center">
                  <%= schedule.choices.first.activity.name %>
                  <br>
                  <%= schedule.choices.first.vote.to_i %>
                  <%= link_to choice_path(schedule.choices.first), method: :patch do %>
                    <i class="fas fa-thumbs-up"></i>
                  <% end %>
                </div>
              </div>

              <div class="card-category mt-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= schedule.choices.last.activity.photo.url %>')">
                <div class="text-center">
                  <%= schedule.choices.second.activity.name %>
                  <br>
                  <%= schedule.choices.second.vote.to_i %>
                  <%= link_to choice_path(schedule.choices.second), method: :patch do %>
                    <i class="fas fa-thumbs-up"></i>
                  <% end %>
                </div>


              </div>

          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
</div>

